.sign {
  margin-top: 5rem;
  width: 330px;
  height: 450px;
}
.text {
  color: black;
  text-align: end;
  height: 5%;
  margin-top: 0.5rem;
  font-size: 0.8rem;
}
.error {
  margin-top: 0.1rem;
  margin-bottom: 0.2rem;
  text-align: start;
  font-size: 0.74rem;
  height: 1rem;
}
hr {
  border-color: #ffffff;
  margin-bottom: 10%;
}
span {
  cursor: pointer;
}
input {
  resize: none;
  font: inherit;
  display: inline-block;
  width: 100%;
  border: 1px solid #ccc;
  background: white;
  padding: 0.5rem 0.5rem;
  box-sizing: border-box;
  font-size: 0.8rem;
}
